# Practical session 1 - Some Python basics

Course: [SDIA-Python](https://github.com/guilgautier/sdia-python)

Dates: 09/21/2021-09/22/2021

Instructor: [Guillaume Gautier](https://guilgautier.github.io/)

Students (pair):
- [Student 1]([link](https://github.com/username1))
- [Student 2]([link](https://github.com/username2))

In [274]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [275]:
ss=5

## Documentation

To display the documentation associated to a Python function in your notebook (launched in VSCode), you can either
- run `?functionname` or `help(my_adder)`
- place your mouse pointer on the function name
- write the name of the function and start opening the brackets

## Zen of Python

In [276]:
import this

## Reserved keywords

In [277]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## Arithmetic

Compute 4 raised to the power 8

In [278]:
4**8

65536

Compute the quotient and the remainder of the euclidean division of 17 by 3.

In [279]:
x=17//3
y=17%3
x,y

(5, 2)

Create two integer variables `a, b` of your choice and swap their content.

In [280]:
a=3
b=5
a,b=b,a
a,b

(5, 3)

Modify `a` inplace, so that the new value of `a` is twice its previous value.

In [281]:
a*=2

In [282]:
a

10

Define a complex number `z` and print it as

`real=real-part, imag=imaginary-part`

In [283]:
t = 5+3*1.j
z=complex(5,3)
z,t

((5+3j), (5+3j))

## Strings

Propose two ways to define an empty string

In [284]:
empty1 = ""
empty2 = str()

In [285]:
empty1

''

In [286]:
empty2

''

Define a string made of the 26 letters of the alphabet (lower case), then
- What is the 12th letter of the alphabet
- What are the 10 last letters of the alphabet
- What are the 5th to the 10th letters of the alphabet
- Create a new string where the 26 letters are converted to upper case.

In [287]:
letters="abcdefghijklmnopqrstuvwxyz"
letters[-11: ]

'pqrstuvwxyz'

In [288]:
letters[16:]

'qrstuvwxyz'

In [289]:
letters[4:10]

'efghij'

In [290]:
Letters=letters.upper()
Letters

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

Extract the first 4 digits of the number `x = 2341324530045968` (answer is `2341`).

In [291]:

x=2341324530045968
strx=str(x)
y=int(strx[:4])
y

2341

## Lists

Propose two ways to define an empty list.

In [292]:
listvide1=[]
listvide2=list()

In [293]:
listvide1

[]

In [294]:
listvide2

[]

Create the list of consecutive integers from 5 to 11.

In [295]:
L= [5,6,7,8,9,10,11]
L1= [i for i in range(5,12)]
L1

[5, 6, 7, 8, 9, 10, 11]

Add `100` to this list.

In [296]:
L.append(100)
L

[5, 6, 7, 8, 9, 10, 11, 100]

Given the following list, 
Change the `"sdia"` to its reverse (`"aids"`).

In [297]:
x = [10, [3, 4], [5, [100, 200, ["sdia"]], 23, 11], 1, 7]
x[2][1][2][0] = "aids"

x

[10, [3, 4], [5, [100, 200, ['aids']], 23, 11], 1, 7]

In [298]:
x[2][1][2][0]="aids"

In [299]:
x

[10, [3, 4], [5, [100, 200, ['aids']], 23, 11], 1, 7]

Given the following list, 

  1. extract the first two items
  2. extract the last two items
  3. find the index of the first occurence of `9`
  4. extract the items located at odd indices
  5. create a new list which corresponds to the reversed version of the originial list
  6. create a new list where each item of the original list is raised to the power 3

In [300]:
x = [3, 7, 5, 3, 8, 6, 8, 8, 0, 7, 3, 9, 3, 4, 2, 7, 0, 9, 5, 0, 0, 9, 0, 9, 3, 1, 4, 0, 5, 5, 5, 8, 9, 9, 5, 5, 4, 9, 5, 6, 2, 8, 5, 2, 4, 9, 2, 2, 3, 1]

In [301]:
x[:2]

[3, 7]

In [302]:
x[-2:]

[3, 1]

In [303]:
x.index(9)

11

In [304]:
x[1::2]

[7, 3, 6, 8, 7, 9, 4, 7, 9, 0, 9, 9, 1, 0, 5, 8, 9, 5, 9, 6, 8, 2, 9, 2, 1]

In [305]:
x[::-1]

[1,
 3,
 2,
 2,
 9,
 4,
 2,
 5,
 8,
 2,
 6,
 5,
 9,
 4,
 5,
 5,
 9,
 9,
 8,
 5,
 5,
 5,
 0,
 4,
 1,
 3,
 9,
 0,
 9,
 0,
 0,
 5,
 9,
 0,
 7,
 2,
 4,
 3,
 9,
 3,
 7,
 0,
 8,
 8,
 6,
 8,
 3,
 5,
 7,
 3]

In [306]:
[i**3 for i in x]

[27,
 343,
 125,
 27,
 512,
 216,
 512,
 512,
 0,
 343,
 27,
 729,
 27,
 64,
 8,
 343,
 0,
 729,
 125,
 0,
 0,
 729,
 0,
 729,
 27,
 1,
 64,
 0,
 125,
 125,
 125,
 512,
 729,
 729,
 125,
 125,
 64,
 729,
 125,
 216,
 8,
 512,
 125,
 8,
 64,
 729,
 8,
 8,
 27,
 1]

## Tuples


Propose two ways to define an empty tuple.

In [307]:
tuplevide1=()
tuplevide2=tuple()

In [308]:
tuplevide1

()

In [309]:
tuplevide2

()

Given the following tuple
- try to replace the second item (`4`) to `8`.
- modify the list so that the second element of the first item is raised to the power 5

In [310]:
x = ([1, 2, 3], 4)

In [311]:
x[0][1]=x[0][1]**5

In [312]:
x

([1, 32, 3], 4)

What is the main difference between a list and a tuple?

les tuples sont non modifiables

## Sets

Create an empty set

In [313]:
setvide=set()

Compute the intersection between $A = \{1, 2, 3\}$ and $B = \{2, 4, 5, 6\}$.

In [314]:
A={1,2,3}
B={2,4,5,6}

In [315]:
A.intersection(B)

{2}

From the following set
- add the numbers 4, 5, 6
- remove the numbers 1, 2, 3
- check if the resulting set is contained in `{1, 2, 4, 5, 6, 10}`

In [316]:
x = {0, 1, 2, 3, 6, 7, 8, 9, 10}

In [317]:
x.add(4)
x.add(5)
x.add(6)

In [318]:
x

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [319]:
x.remove(1)
x.remove(2)
x.remove(3)

In [320]:
x

{0, 4, 5, 6, 7, 8, 9, 10}

In [321]:
y={1, 2, 4, 5, 6, 10}
x.issubset(y)

False

## Dictionnaries

Propose two ways to define an empty dictionary

In [322]:
dicvide1={}
dicvide2=dict()

In [323]:
dicvide1

{}

In [324]:
dicvide2

{}

Propose at least 3 ways to define a dictionary with 
- keys `("a", "b", "c", "d")`
- values `(1, 3, 5 , 7)`

In [325]:
dict1={"a":1,"b":2,"c":5,"d":7}
dict2=dict(a=1, b=3, c=5, d=7)
dict3=dict()
dict3.update(a=1,b=3,c=5,d=7)

In [326]:
dict1

{'a': 1, 'b': 2, 'c': 5, 'd': 7}

In [327]:
dict2

{'a': 1, 'b': 3, 'c': 5, 'd': 7}

In [328]:
dict3

{'a': 1, 'b': 3, 'c': 5, 'd': 7}

Given the following dictionary, use indexing to get to the word `"sdia"`

In [329]:
d = {
    "outer": [
        1,
        2,
        3,
        {"inner": ["this", "is", "inception", {"inner_inner": [1, 2, 3, "sdia"]}]},
    ]
}

In [330]:
d["outer"][3]["inner"][3]["inner_inner"][3]

'sdia'

From the following dictionary,
- Create the list of keys
- Create the list of values
- Check if the key `"abc"` is present, if not, return `123`.
- Merge the initial dictionary with `{"e": -1, 4: True}`

In [331]:
d1 = dict(zip([(0, 1), "e", 1, None], ["abc", 4, None, 1 + 2j]))

In [332]:
d1

{(0, 1): 'abc', 'e': 4, 1: None, None: (1+2j)}

In [333]:
d1.keys()

dict_keys([(0, 1), 'e', 1, None])

In [334]:
d1.values()

dict_values(['abc', 4, None, (1+2j)])

In [335]:
if not("abc" in d1.keys()):
    print(123)

123

In [336]:
d2={"e": -1, 4: True}

In [337]:
d1.update(d2)

In [338]:
d1

{(0, 1): 'abc', 'e': -1, 1: None, None: (1+2j), 4: True}

## Conditions

Propose two ways to construct the list of odd values ranging from 0 to 30

In [339]:
l1=[2*i+1 for i in range(15)]
l2=[i for i in range(31)]
l2=l2[1::2]

In [340]:
l1

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [341]:
l2

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

From the following list, create another list which contains
- `"fiz"` if the item is a multiple of 5,
- `"buz"` if the item is a multiple of 7,
- `"fizbuz"` if the item is a both a multiple of 5 and 7,
- the index of the item otherwise.

In [342]:
x = [2, 1, 3, 31, 35, 20, 70, 132, 144, 49]

In [343]:
dx=[]
for i in range(len(x)):
    if x[i]%5==0 and x[i]%7==0 : dx.append("fizbuz")
    elif x[i]%5==0: dx.append("fiz")
    elif x[i]%7==0: dx.append("buz")
    else: dx.append(i)

In [344]:
dx

[0, 1, 2, 3, 'fizbuz', 'fiz', 'fizbuz', 7, 8, 'buz']

Given a string variable `course`, construct a `if/elif/else` statement that prints:
- `"That is very useful!"` if `course` is `"maths"` (any kind of capitalization)
- `"That is very useful!"` if `course` is `"python"` (any kind of capitalization)
- `"How nice!"` if `course` is `"meditation"` (any kind of capitalization)
- `"You're not at Hogwarts"` if `course` is `"magic"` (any kind of capitalization)
- otherwise `"What is this COURSE?"` if `course` is anything else.

In [345]:
#course="maths"
#course="python"
#course="meditation"
course="mAgic"

In [346]:
if course.lower()=="maths": print("That is very useful!")
elif course.lower()=="python": print("That is very useful!")
elif course.lower()=="meditation": print("How nice!")
elif course.lower()=="magic": print("You're not at Hogwarts")
else: print("What is this COURSE?")

You're not at Hogwarts

Given the following variables, create and print the string

``quantity`` ``fruit``(s) cost(s) $``price``

such that
- there is an `"s"` at `"cost"` when there is more only one fruit,
- there is an `"s"` at `"fruit"` when there is more that one fruit,
- the price is displayed as ...,xxx,xxx.yy where yy corresponds rounded cents value

In [347]:
quantity = 1
fruit = "avocado"
price = 1.8912392e4

## Functions

- Create your function in `src/lab1/functions.py` files
- Import them using `from lab1.functions import MYFUNCTION`

Define the function `is_unique(x)` which takes a list of integers `x` as input and returns `True` if the there is no duplicate items otherwise return `False`.

In [348]:
def is_unique(x):
    if x == []:
        return True
    else:
        y = x.pop()
        if y in x:
            return False
        else:
            return is_unique(x)

Define a function `triangle_shape(height)`, that returns 
- `""` if `height=0`, 
- otherwise it returns a string that forms a triangle with height prescribed by `height`.

**Examples**

height=1
```
x
```

height=2
```
 x 
xxx
```

height=3
```
  x  
 xxx 
xxxxx
```

height=4
```
   x   
  xxx  
 xxxxx 
xxxxxxx
```

height=5
```
    x    
   xxx   
  xxxxx  
 xxxxxxx 
xxxxxxxxx
```

height=6
```
     x     
    xxx    
   xxxxx   
  xxxxxxx  
 xxxxxxxxx 
xxxxxxxxxxx
```

In [351]:
def triangle_shape(height):
    triangle = str()
    for i in range(height):
        for j in range(height - i - 1):
            triangle += " "
        for j in range(2 * i + 1):
            triangle += "x"
        for j in range(height - i - 1):
            triangle += " "
        if i != height - 1:
            triangle += "\n"
    return triangle